
.InfoBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .InfoBox {
      flex-direction: column; 
    }
  }