
.SearchBox {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn{
  margin-top: 20px;
}

@media (max-width: 768px) {
  .SearchBox {
    flex-direction: column; 
  }

  .btn {
    margin-top: 10px; 
  }
}